.tile {
  background: url(/images/tile.jpg);
  background-size: cover;
  border: solid 2px transparent;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  display: inline-block;
  margin: 10px;
  height: 25vw;
  width: 25vw;

  @media screen and (min-width: 640px) {
    & {
      height: 20vw;
      width: 20vw;
    }
  }
  @media screen and (min-width: 768px) {
    & {
      height: 20vw;
      width: 20vw;
    }
  }
  @media screen and (min-width: 1024px) {
    & {
      height: 140px;
      width: 140px;
    }
  }
  @media screen and (min-width: 1130px) {
    & {
      height: 110px;
      width: 110px;
    }
  }

  &:hover {
    border: solid 2px blue;
    box-shadow: 0 2px 4px blue;
    opacity: 0.4;
  }

  img {
    border-radius: 10px;
    height: 100%;
    visibility: hidden;
    width: 100%;
  }

  &.visible {
    background: none;

    img {
      visibility: initial;
    }
  }

  &.matched {
    background-image: none;
    border: solid 2px transparent;
    box-shadow: none;

    &:hover {
      border: solid 2px transparent;
    }

    img {
      visibility: hidden;
    }
  }
}
